body{
    
    font-family: 'Roboto', sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    width: 1321px;
    margin-top:50px;
    border-radius: 5px;
}
.banner-section{
    background-color: #161616;
    box-sizing: border-box;
    border: 1px solid #161616;
    border-radius: 30px; 
    display:flex;
    justify-content: space-around;
    }

    .slogans{
    display:grid;
    grid-template-columns: (1fr 1fr 2fr);   
    grid-row-gap: 15px;
    }
    h1{
    font-family: 'Poppins', sans-serif;
    font-size: 62px;
    line-height: 50px;
    color: #ffff;
}
        
    p{
    font-size: 16px;
    line-height: 20px;
    color: #ffff;
}
    
    .button {
    background-color: #DD0000;
    font-size: 20px; 
    color: #ffff;
    padding: 5px 20px; 
    border-radius: 8px;
    }
    span{
    font-size: 24px;
    }

    .button:hover {
    background-color: rgb(42, 42, 237);
    }
     
    .player> img{
    width: 581px;
    height: 613px;
    }
    /* --------------------------------------- Selection Area ---------------------------------------- */
    .selection-live{
    margin-top:50px;
    display: flex;                                   
     }
    .selection-area{
    width: 312px;
    height: 312px;
    
     }
     .selects{
    background-color: #161616;
    box-sizing: border-box;
    border: 1px solid #161616;
    border-radius: 15px;
    padding:20px;
    margin:0;
    display: grid;
    grid-template-rows:  repeat(3, 1fr);
    
     }
     .s-div{
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
     } 
     
     .pb{
    background-color: #ffff;
    color: #161616;
    text-align: center;
    line-height: 3;
     }
     .pb3{
    background-color: #DD0000;
    color: #ffff; 
    text-align: center;
    line-height: 3;
     }
     /* --------------------------------------- Selection and Area ---------------------------------------- */
     
    .live-area{
    width: calc(100% - 280px );
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
    .live-div{
    margin-left: 20px;
}
   .live-div p{
    color: #161616;
   }
   .live-details .live-banner img{
    Width:312px;
    height: 175px;
   }
   
   .lp{
    background-color: #ffff;
    color: #161616;
   }

   .live-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* .fa-clock, .fa-message{
       color: #161616;  
} */
    /* ------------------- footer-section ----------- */          
     
    .foot-container-div{
        width: 100%;
        background-color: #161616;
        margin-top: 50px;
    }
    .foot-goal{
        width: 1010px;
        margin-top: 50px;
        margin-left: 425px;
        padding: 10px;

    }
    .goal{
        color:#ffff;
        text-align: center;
    }
   
    
    .foot-navbar{
        width: 700px;
        margin-top: 3px;
        margin-left: 570px;
        padding-bottom: 20px;
        display: flex;
        justify-content: space-between;
    }
        
     .foot-paragraph{
        color:#ffff;
        text-align: center;
     }
    
    .foot-paragraph a{
        text-decoration: none;
        color:#ffff;
    }
    /* ---------------------- Responsive for Desktop --------------------------- */
     @media screen and (max-width: 1600px) {
        .banner-section{
            display: flex;
        }
        .selection-live{
            display: flex;
        }
        .foot-container-div{
            display: block;
        }
        .foot-navbar{
            display: flex;
        }

    }
    /* ---------------------- Responsive for Tab --------------------------- */
    @media screen and (max-width: 834px) {
        .banner-section{
            display: flex;
        }
        .selection-live{
            display: flex;
            flex-direction: column;
        }
        .selects{
            display: flex;
            direction:row ;

        }
        .foot-container-div{
            display: block;
        }
        .foot-navbar{
            display: flex;
        }
    }
    /* ---------------------- Responsive for Desktop --------------------------- */
    @media screen and (max-width:375px) {
        .banner-section{
            display: flex;
        }
        .selection-live{
            display: flex;
        }
        .foot-container-div{
            display: block;
        }
        .foot-navbar{
            display: flex;
        }
    }